<h1>Hello world!</h1>
<p>This is the homepage of the Developing Mastery project.</p>

<% @articles.each do |a| %>
  <div class="article">
    <h2><%= link_to(a.title, article_path(a)) %></h2>
    <p><%= a.body.length > 200 ? a.body.first(200) + "..." : a.body.first(200) %>&nbsp;<%= link_to("Read More", article_path(a)) %></p>
  </div>
<% end %>