<h1>Extra! Extra! Read all about it!</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Last Updated</th>
  </tr>
  <% @articles.each do |a| %>
    <tr>
      <td><%= a.id %></td>
      <td><%= link_to(a.title, article_path(a)) %></td>
      <td><%= a.updated_at.to_date %></td>
    </tr>
  <% end %>
  
</table>

