<h1><%= @article.title %></h1>
<h5>Written by <%= link_to @article.author.public_name, person_path(@article.author_id) %></h5>

<p>
  <%= sanitize @article.body %>
</p>

<%= link_to "See All Articles", root_path %>
