form {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .form-fields {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &.narrow {
    width: 50%;
    margin: auto;
  }

}